html {
    font-family: 'Gloock', serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Press Start 2P', cursive;
}

body {
    margin: 0;
}

img {
    display: block;
}

* {
    pointer-events: none;
    box-sizing: border-box;

    /* noselect */
    -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

button, input {
    font-family: 'Gloock', serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Press Start 2P', cursive;
    background-color: transparent;
    pointer-events: auto;
}

button {
    border: none;
}

button:hover {
    cursor: pointer;
    text-decoration: underline;
}

#canvas {
    width: 100vw;
    height: 100vh;
    background-image: url(./assets/perleplade_texture.png);
}

#snake-head {
    aspect-ratio: 1;
    background-color: blue;
    position: absolute;
    left: 0px;
    top: 0px;
    transform: translate(-50%, -50%);
    opacity: 0;
}

#snake-head.up {
    border-top: 10px solid black;
    border-radius: 50% 50% 0 0;
}
#snake-head.left {
    border-left: 10px solid black;
    border-radius: 50% 0 0 50%;
}
#snake-head.down {
    border-bottom: 10px solid black;
    border-radius: 0 0 50% 50%;
}
#snake-head.right {
    border-right: 10px solid black;
    border-radius: 0 50% 50% 0;
}

.obstacle {
    position: absolute;
    aspect-ratio: 1;
    transform: translate(-50%, -50%);
    background-image: url(./assets/wall_texture.png);
}

#highscores-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#highscores {
    padding: 0;
    background-color: white;
    padding: 20px;
}

#highscores-header {
    text-align: center;
    margin-top: 0;
}

#highscores {
    line-height: 1.5;
}

#highscores-list-container {
    padding-left: 30px;
    padding-right: 10px;
}

#highscores-footer {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.fruit {
    position: absolute;
    aspect-ratio: 1;
    background-image: url(./assets/fruit_texture.png);
    transform: translate(-50%, -50%);
}

.tail {
    position: absolute;
    aspect-ratio: 1;
    background-image: url(./assets/tail_texture.png);
    transform: translate(-50%, -50%);
}

#game-stats-container {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 100vw;
}

#splashscreen-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#splashscreen {
    background-color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#username-container {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
}

#username, .game-stat {
    background-color: white;
    padding: 10px;
}