body {
    margin: 0;
}

img {
    display: block;
}

* {
    pointer-events: none;
    box-sizing: border-box;

    /* noselect */
    -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

#canvas {
    background-color: red;
    width: 100vw;
    height: 75vh;
    background-image: url(./assets/perleplade_texture.png);
}

#snake-head {
    aspect-ratio: 1;
    background-color: blue;
    position: absolute;
    left: 0px;
    top: 0px;
    transform: translate(-50%, -50%);
}

#snake-head.up {
    border-top: 10px solid black;
    border-radius: 50% 50% 0 0;
}
#snake-head.left {
    border-left: 10px solid black;
    border-radius: 50% 0 0 50%;
}
#snake-head.down {
    border-bottom: 10px solid black;
    border-radius: 0 0 50% 50%;
}
#snake-head.right {
    border-right: 10px solid black;
    border-radius: 0 50% 50% 0;
}

.obstacle {
    position: absolute;
    aspect-ratio: 1;
    background-color: green;
    transform: translate(-50%, -50%);
}

#highscores-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#highscores-container.inactive {
    display: none;
}

#highscores {
    padding: 0;
    background-color: white;
    padding: 20px;
}

#highscores-header {
    text-align: center;
    margin-top: 0;
}

#highscores {
    line-height: 1.5;
}

#highscores-list {
    margin: 0;
}

#highscores ol {
    padding-left: 20px;
    text-align: left;
}

#highscores-footer {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

#highscores-footer button {
    pointer-events: auto;
}

.fruit {
    position: absolute;
    aspect-ratio: 1;
    background-color: purple;
    transform: translate(-50%, -50%);
}

.tail {
    position: absolute;
    aspect-ratio: 1;
    background-color: blue;
    transform: translate(-50%, -50%);
}