body {
    margin: 0;
}

img {
    display: block;
}

* {
    pointer-events: none;
    box-sizing: border-box;

    /* noselect */
    -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

#canvas {
    background-color: red;
    width: 100vw;
    height: 75vh;
}

#snake-head {
    aspect-ratio: 1;
    background-color: blue;
    position: absolute;
    left: 0px;
    top: 0px;
    transform: translate(-50%, -50%);
}

#snake-head.up {
    border-top: 10px solid black;
    border-radius: 50% 50% 0 0;
}
#snake-head.left {
    border-left: 10px solid black;
    border-radius: 50% 0 0 50%;
}
#snake-head.down {
    border-bottom: 10px solid black;
    border-radius: 0 0 50% 50%;
}
#snake-head.right {
    border-right: 10px solid black;
    border-radius: 0 50% 50% 0;
}

.obstacle {
    position: absolute;
    aspect-ratio: 1;
    background-color: green;
    transform: translate(-50%, -50%);
}